.frase {
  font-size: 18px;
}

.campo-digitacao {
  font-size: 16px;
  width: 100%;
  height: 150px;
}

.campo-desativado {
  background-color: lightgrey;
}

.borda-verde {
  border: 3px solid green;
}

.borda-vermelha {
  border: 3px solid red;
}

.info {
  font-size: 16px;
}

.lista {
  font-size: 16px;
}

.lista .item-lista {
  margin: 10px;
}

.icones {
  vertical-align: middle;
}

.placar {
  display: none;
}

body{
  overflow: scroll;
}

#erro {
  color: red;
  display: none;
}

#spinner {
  display: none;
}

#frase-id {
  width: 40px;
}
